<div class="container">
  <form class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Station Code" #station>
      <input type="radio" name="hours" value="2" #hours>2 Hrs
      <input type="radio" name="hours" value="4" #hours>4 Hrs
    </div>
    <button type="submit" class="btn btn-primary" (click)="getLiveStation(station.value,hours.value)">Find</button>
    <button type="reset" class="btn btn-danger">Reset</button>
  </form>
  <br>
  <div class="well" *ngIf="data">
    <h3>Live Station : {{data.station.name}}</h3>
    <br>
    <table class="table table-bordered">
      <thead>
      <tr class="info">
        <th>Sl. No.</th>
        <th>Train No.</th>
        <th>Train Name</th>
        <th>Scheduled Arrival</th>
        <th>Delay In Arrival</th>
        <th>Expected Arrival</th>
        <th>Scheduled Departure</th>
        <th>Delay In Departure</th>
        <th>Expected Departure</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let train of data.trains, let i = index">
        <td>{{i+1}}</td>
        <td>{{train.number}}</td>
        <td>{{train.name}}</td>
        <td>{{train.scharr}}</td>
        <td>{{train.delayarr}}</td>
        <td>{{train.actarr}}</td>
        <td>{{train.schdep}}</td>
        <td>{{train.delaydep}}</td>
        <td>{{train.actdep}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
