<div class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Rail Run</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="pnr-status">PNR Status</a></li>
        <li><a routerLink="live-status">Live Status</a></li>
        <li><a routerLink="train-route">Train Route</a></li>
        <li><a routerLink="train-between-stations">Trains Between Stations</a></li>
        <li><a routerLink="">Seat Availability</a></li>
        <li><a routerLink="">Fare Enquiry</a></li>
        <li><a routerLink="live-station">Live Station</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">More <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Cancelled Trains</a></li>
            <li><a href="#">Rescheduled Trains</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</div>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
