<div class="container">
  <form class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Source" #src>
      <input type="text" class="form-control" placeholder="Destination" #dest>
      <input type="date" class="form-control" placeholder="Date" #doj>
    </div>
    <button type="submit" class="btn btn-primary" (click)="getTrainBetweenStations(src.value,dest.value,doj.value)">Find</button>
    <button type="reset" class="btn btn-danger">Reset</button>
  </form>
  <br>
  <div class="well" *ngIf="data">
    <h3>Train<span *ngIf="data.total > 1">s</span> Between {{src.value}} - {{dest.value}}</h3>
    <br>
    <table class="table table-bordered">
      <thead>
        <tr class="info">
          <th rowspan="2">Sl. No.</th>
          <th rowspan="2">Train No.</th>
          <th rowspan="2">Train Name</th>
          <th rowspan="2">Departure Time</th>
          <th rowspan="2">Arrival Time</th>
          <th rowspan="2">Travel Time</th>
          <th colspan="7">Days of Run</th>
        </tr>
        <tr class="info">
          <th>M</th>
          <th>T</th>
          <th>W</th>
          <th>T</th>
          <th>F</th>
          <th>S</th>
          <th>S</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let train of data.trains, let i = index">
          <td>{{i+1}}</td>
          <td>{{train.number}}</td>
          <td>{{train.name}}</td>
          <td>{{train.src_departure_time}}</td>
          <td>{{train.dest_arrival_time}}</td>
          <td>{{train.travel_time}}</td>
          <td *ngFor="let day of train.days">
            <span *ngIf="day.runs === 'Y'">
              <i class="fa fa-check text-success" ></i>
            </span>
            <span *ngIf="day.runs === 'N'">
              <i class="fa fa-times text-danger" ></i>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
