<div class="container">
  <form class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Enter Train Number" #train_no>
    </div>
    <button type="submit" class="btn btn-primary" (click)="getTrainRoute(train_no.value)">Find</button>
    <button type="reset" class="btn btn-danger">Reset</button>
  </form>
  <br>
  <div class="well" *ngIf="data">
    <h3>Train Route</h3>
    <br>
    <table class="table table-bordered">
      <thead>
      <tr class="success">
        <th>Train No.</th>
        <th>Train Name</th>
        <th>Source</th>
        <th>Destination</th>
        <th>Runs On</th>
        <th>Classes Available</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{data.train.number}}</td>
        <td>{{data.train.name}}</td>
        <td>{{data.route[0].station.name}}</td>
        <td>{{data.route[data.route.length-1].station.name}}</td>
        <td><span *ngFor="let day of data.train.days"><span *ngIf="day.runs=='Y' ">{{day.code}},</span></span></td>
        <td><span *ngFor="let cls of data.train.classes"><span *ngIf="cls.available=='Y' ">{{cls.code}},</span></span></td>
      </tr>
      </tbody>
    </table>


    <table class="table table-bordered">
      <thead>
      <tr class="info">
        <th>Sl. No.</th>
        <th>Station Name</th>
        <th>Station Code</th>
        <th>Scheduled Arrival</th>
        <th>Scheduled Departure</th>
        <th>Halt Time</th>
        <th>Day</th>
        <th>Distance</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let route of data.route">
        <td>{{route.no}}</td>
        <td>{{route.station.name}}</td>
        <td>{{route.station.code}}</td>
        <td>{{route.scharr}}</td>
        <td>{{route.schdep}}</td>
        <td>{{route.halt}}</td>
        <td>{{route.day}}</td>
        <td>{{route.distance}}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
