<div class="container">
  <form class="form-inline" *ngIf="!data">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Enter PNR" (blur)="getPnrStatus(PNR.value)" #PNR>
    </div>
    <button type="submit" class="btn btn-primary" (click)="getPnrStatus(PNR.value)">Find</button>
    <button type="reset" class="btn btn-danger">Reset</button>
  </form>
  <br>
  <div class="well" *ngIf="data">
    <h2>Query for PNR Number : {{data.pnr}}</h2>
    <table class="table table-bordered">
      <thead>
      <tr class="info">
        <th>Train Number</th>
        <th>Train Name</th>
        <th>Boarding Date</th>
        <th>From</th>
        <th>To</th>
        <th>Boarding Point</th>
        <th>Reserved To</th>
        <th>Class</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{data.train.number}}</td>
        <td>{{data.train.name}}</td>
        <td>{{data.doj}}</td>
        <td>{{data.from_station.code}}</td>
        <td>{{data.to_station.code}}</td>
        <td>{{data.boarding_point.code}}</td>
        <td>{{data.reservation_upto.code}}</td>
        <td>{{data.journey_class.code}}</td>
      </tr>
      </tbody>
    </table>
    <table class="table table-hover table-bordered">
      <thead>
      <tr class="success">
        <th>Sl. No.</th>
        <th>Booking Status (Status / Seat. No / Quota)</th>
        <th>Current Status (Status / Seat. No / Quota)</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let passenger of data.passengers">
        <td>{{passenger.no}}</td>
        <td>{{passenger.booking_status}}</td>
        <td>{{passenger.current_status}}</td>
      </tr>
      </tbody>
    </table>

    <div>
      Charting Status :
      <span *ngIf="data.chart_prepared">Chart Prepared</span>
      <span *ngIf="!data.chart_prepared">Chart Not Prepared</span>
    </div>

    <div class="text-center">
      <button type="button" class="btn btn-default">Get Schedule</button>
      <button type="button" class="btn btn-default">Get Running Status</button>
    </div>

  </div>
</div>
