<div class="container">
  <form class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Enter Train Number" #train_no>
      <input type="date" class="form-control" placeholder="Date" #doj>
    </div>
    <button type="submit" class="btn btn-primary" (click)="getTrainStatus(train_no.value, doj.value)">Find</button>
    <button type="reset" class="btn btn-danger">Reset</button>
  </form>
  <br>
  <div class="well" *ngIf="data">
    <h3>Showing live train status for {{data.train.number}} ({{data.train.name}})</h3>
    <br>
    <p>Current Position : <span class="bg-success">{{data.position}}</span></p>
    <br>
    <table class="table table-bordered">
      <thead>
        <tr class="info">
          <th>Sl. No.</th>
          <th>Station Name</th>
          <th>Station Code</th>
          <th>Scheduled Arrival</th>
          <th>Scheduled Departure</th>
          <th>Late By</th>
          <th>Actual Arrival</th>
          <th>Day</th>
          <th>Distance</th>
          <th>Has Arrived</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let route of data.route,let i = index">
          <td>{{route.no}} <span *ngIf="i+1===data.current_station.no" class="text-danger"><i class="fa fa-subway"></i></span></td>
          <td>{{route.station.name}}</td>
          <td>{{route.station.code}}</td>
          <td>{{route.scharr}}</td>
          <td>{{route.schdep}}</td>
          <td>{{route.latemin}}</td>
          <td>{{route.actarr}}</td>
          <td>{{route.day + 1}}</td>
          <td>{{route.distance}}</td>
          <td class="text-success"><span *ngIf="route.has_arrived"><i class="fa fa-check"></i></span></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
